body {
    margin: 0px;

    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    text-align: center;
}

.active {
    outline: 2px solid #3366ff;
}

.activealt {
    outline: 2px solid black;
}

hr {
    width: 90%;
}

#mw_od_title {
    font-size: 24px;
    font-weight: bold;
}

#mw_od_desc {
    font-size: 18px;
}

#mw_od_amnd {
    font-size: 20px;
}

#mw_od_amndlist {
    font-size: 16px;
}

/* LEFT SIDEBAR */ /* LEFT SIDEBAR */ /* LEFT SIDEBAR */ /* LEFT SIDEBAR */ /* LEFT SIDEBAR */ /* LEFT SIDEBAR */ /* LEFT SIDEBAR */

#left_sidebar {
    width: 21vw;
    height: calc(70vh - 4vw);

    border: 1px solid lightgray;

    position: absolute;
    top: 2vw;
    left: 2vw;
}

#ls_info_div {
    width: 15vw;
    height: 30vh;

    background-color: white;
    border: 5px solid black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BILLS HELD MENU */ /* BILLS HELD MENU */ /* BILLS HELD MENU */ /* BILLS HELD MENU */ /* BILLS HELD MENU */ /* BILLS HELD MENU */ /* BILLS HELD MENU */

#bills_div {
    width: 47vw;
    height: calc(30vh - 2vw);

    border: 1px solid lightgray;
    
    position: absolute;
    bottom: 2vw;
    left: 2vw;
}

.bd_bill {
    width: 150px;
    height: calc(30vh - 2vw - 20px);

    margin-top: 10px;
    margin-left: 10px;

    position: relative;

    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.bd_bill_title {
    position: absolute;
    margin-top: 0px;
    top: 10px;
    left: 0px;
    width: 100%;
    font-size: 24px;
}

.bd_bill_status {
    position: absolute;
    margin-top: 0px;
    top: 120px;
    left: 0px;

    width: 100%;
    font-size: 20px;
    font-style: italic;
}

/* ACTION CARDS MENU */ /* ACTION CARDS MENU */ /* ACTION CARDS MENU */ /* ACTION CARDS MENU */ /* ACTION CARDS MENU */ /* ACTION CARDS MENU */

#actions_div {
    width: 47vw;
    height: calc(30vh - 2vw);

    border: 1px solid lightgray;

    position: absolute;
    bottom: 2vw;
    right: 2vw;
}

#ad_btns {
    width: 100px;
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
    right: 10px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

#ad_cards {
    display: flex;
}

.ad_card {
    width: 150px;
    height: calc(30vh - 2vw - 20px);

    margin-top: 10px;
    margin-left: 10px;

    position: relative;

    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.ad_card_title {
    position: absolute;
    margin-top: 0px;
    top: 10px;
    left: 0px;
    width: 100%;
    font-size: 20px;
}

.ad_card_desc {
    position: absolute;
    margin-top: 0px;
    top: 80px;
    left: 0px;

    width: 100%;
    font-size: 14px;
}

#rs_od_desc {
    font-style: italic;
}

/* RIGHT SIDEBAR */ /* RIGHT SIDEBAR */ /* RIGHT SIDEBAR */ /* RIGHT SIDEBAR */ /* RIGHT SIDEBAR */ /* RIGHT SIDEBAR */ /* RIGHT SIDEBAR */ /* RIGHT SIDEBAR */

#right_sidebar {
    width: 21vw;
    height: calc(70vh - 4vw);

    border: 1px solid lightgray;

    position: absolute;
    top: 2vw;
    right: 2vw;
}

/* MAIN WINDOW */ /* MAIN WINDOW */ /* MAIN WINDOW */ /* MAIN WINDOW */ /* MAIN WINDOW */ /* MAIN WINDOW */ /* MAIN WINDOW */ /* MAIN WINDOW */

#main_window {
    width: 50vw;
    height: calc(70vh - 4vw);

    border: 1px solid lightgray;

    position: absolute;
    top: 2vw;
    left: 25vw;
}

/* HOUSE OF REPRESENTATIVES */ /* HOUSE OF REPRESENTATIVES */ /* HOUSE OF REPRESENTATIVES */ /* HOUSE OF REPRESENTATIVES */ /* HOUSE OF REPRESENTATIVES */

#mw_housediv {
    display: none;
}

#mw_housediv_title {
    font-size: 24px;
    font-weight: bold;
}

#mw_housediv_btns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: 300px;
    width: 300px; /* Adjust width as needed */
    margin: auto;
}

#mw_housediv_btns button {
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    font-size: 20px;
}

/* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */ /* SENATE */

#mw_senatediv {
    display: none;
}

#mw_senatediv_title {
    font-size: 24px;
    font-weight: bold;
}

#mw_senatediv_btns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: 240px;
    width: 300px; /* Adjust width as needed */
    margin: auto;
}

#mw_senatediv_btns button {
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    font-size: 20px;
}

.far_right {
    border: 3px solid red !important;
}

.mid_right {
    border: 3px solid #ff66cc !important;
}

.independent {
    border: 3px solid darkgray !important;
}

.mid_left {
    border: 3px solid #6699ff !important;
}

.far_left {
    border: 3px solid blue !important;
}

.vote_yes {
    background-color: #ddffdd !important;
}

.vote_no {
    background-color: #ffdddd !important;
}

/* ACTION CARD SHOP IDEK KILL ME NOW */

#mw_sd_actioncards {
    margin-top: 30px;

    width: 100%;
    
    display: flex;
    justify-content: center;

    gap: 10px;
}

#mw_sd_bills {
    margin-top: 10px;

    width: 100%;
    
    display: flex;
    justify-content: center;

    gap: 10px;
}

.mw_sd_ac {
    width: 150px;
    height: calc(30vh - 2vw - 20px);

    border: 2px solid black;
    border-radius: 10px;

    position: relative;
}

.mw_sd_ac_title {
    font-size: 20px;
    margin-top: 10px;
}

.mw_sd_ac_desc {
    font-size: 14px;
}

.mw_sd_ac_buy {
    width: 130px;
    height: 30px;

    position: absolute;
    bottom: 10px;
    left: 10px;
}